// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import {
  type NormalizedClientOptionsWithAuth,
  normalizeClientOptionsWithAuth,
} from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AffinityApi from "../../../index.js";

export declare namespace LocationsClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Physical practice sites and their Team access identifiers. Locations are shared between Test and Live.
 */
export class LocationsClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<LocationsClient.Options>;

  constructor(options: LocationsClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * Requires locations:read on a practice key or an authorized platform key. Lists active and archived locations by name, with cursor pagination. Use status to filter. Location records are shared between Test and Live for the same practice.
   *
   * @param {AffinityApi.ListPracticeLocationsRequest} request
   * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.locations.listPracticeLocations({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         startingAfter: "loc_01j2y8m6jcc9tt24af5pw9x1bc",
   *         endingBefore: "loc_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public listPracticeLocations(
    request: AffinityApi.ListPracticeLocationsRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ListPracticeLocationsResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__listPracticeLocations(request, requestOptions),
    );
  }

  private async __listPracticeLocations(
    request: AffinityApi.ListPracticeLocationsRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ListPracticeLocationsResponse>> {
    const { practiceId, limit, startingAfter, endingBefore, status } = request;
    const _queryParams: Record<string, unknown> = {
      limit,
      startingAfter,
      endingBefore,
      status: status !== undefined ? status : undefined,
    };
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/locations`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ListPracticeLocationsResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/v1/practices/{practiceId}/locations",
    );
  }

  /**
   * Requires locations:write and Idempotency-Key for API keys. Creates an active location with a unique name in this practice. Locations are shared between Test and Live. Use the returned ID for Team location access.
   *
   * @param {AffinityApi.CreatePracticeLocationRequest} request
   * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.locations.createPracticeLocation({
   *         "Idempotency-Key": "Idempotency-Key",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         name: "name"
   *     })
   */
  public createPracticeLocation(
    request: AffinityApi.CreatePracticeLocationRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.CreatePracticeLocationResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__createPracticeLocation(request, requestOptions),
    );
  }

  private async __createPracticeLocation(
    request: AffinityApi.CreatePracticeLocationRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.CreatePracticeLocationResponse>> {
    const { practiceId, "Idempotency-Key": idempotencyKey, ..._body } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/locations`,
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.CreatePracticeLocationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/v1/practices/{practiceId}/locations",
    );
  }

  /**
   * Requires locations:read. Returns one active or archived location in the authorized practice.
   *
   * @param {AffinityApi.GetPracticeLocationRequest} request
   * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.locations.getPracticeLocation({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         locationId: "loc_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public getPracticeLocation(
    request: AffinityApi.GetPracticeLocationRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.GetPracticeLocationResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__getPracticeLocation(request, requestOptions),
    );
  }

  private async __getPracticeLocation(
    request: AffinityApi.GetPracticeLocationRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.GetPracticeLocationResponse>> {
    const { practiceId, locationId } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/locations/${core.url.encodePathParam(locationId)}`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.GetPracticeLocationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/v1/practices/{practiceId}/locations/{locationId}",
    );
  }

  /**
   * Requires locations:write and Idempotency-Key for API keys. Updates only supplied fields; null clears optional contact and address fields. Archived locations cannot be updated. Changes apply to both Test and Live.
   *
   * @param {AffinityApi.UpdatePracticeLocationRequest} request
   * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.locations.updatePracticeLocation({
   *         "Idempotency-Key": "Idempotency-Key",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         locationId: "loc_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public updatePracticeLocation(
    request: AffinityApi.UpdatePracticeLocationRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.UpdatePracticeLocationResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__updatePracticeLocation(request, requestOptions),
    );
  }

  private async __updatePracticeLocation(
    request: AffinityApi.UpdatePracticeLocationRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.UpdatePracticeLocationResponse>> {
    const { practiceId, locationId, "Idempotency-Key": idempotencyKey, ..._body } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/locations/${core.url.encodePathParam(locationId)}`,
      ),
      method: "PATCH",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.UpdatePracticeLocationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "PATCH",
      "/v1/practices/{practiceId}/locations/{locationId}",
    );
  }

  /**
   * Requires locations:write and Idempotency-Key for API keys. Retains the location and historical associations. Archived locations cannot receive new Team assignments. Repeating archive returns the archived location. Changes apply to both Test and Live.
   *
   * @param {AffinityApi.ArchivePracticeLocationRequest} request
   * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.locations.archivePracticeLocation({
   *         "Idempotency-Key": "Idempotency-Key",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         locationId: "loc_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public archivePracticeLocation(
    request: AffinityApi.ArchivePracticeLocationRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ArchivePracticeLocationResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__archivePracticeLocation(request, requestOptions),
    );
  }

  private async __archivePracticeLocation(
    request: AffinityApi.ArchivePracticeLocationRequest,
    requestOptions?: LocationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ArchivePracticeLocationResponse>> {
    const { practiceId, locationId, "Idempotency-Key": idempotencyKey } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/locations/${core.url.encodePathParam(locationId)}/archive`,
      ),
      method: "POST",
      headers: _headers,
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ArchivePracticeLocationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/v1/practices/{practiceId}/locations/{locationId}/archive",
    );
  }
}
