// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import {
  type NormalizedClientOptionsWithAuth,
  normalizeClientOptionsWithAuth,
} from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as AffinityApi from "../../../../../index.js";

export declare namespace BatchesClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class BatchesClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<BatchesClient.Options>;

  constructor(options: BatchesClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * Creates 1–20 orders for distinct patients in one practice, each with 1–20 prescriptions. Each accepts patientId or inline patient details. Orders and newly created patients commit atomically; any failure saves none. Requires orders:write and Idempotency-Key; inline patients also require patients:write. Omitted actor context defaults to the authenticated service account as a system actor. Sign and submit each resulting order separately using orders:sign.
   *
   * @param {AffinityApi.orders.CreateOrderBatchRequest} request
   * @param {BatchesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.UnprocessableEntityError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   * @throws {@link AffinityApi.ServiceUnavailableError}
   *
   * @example
   *     await client.orders.batches.create({
   *         "Idempotency-Key": "Idempotency-Key",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         orders: [{
   *                 prescriptions: [{
   *                         daysSupply: 1,
   *                         dispensing: {},
   *                         directions: "directions",
   *                         medicationId: "cat_01j2y8m6jcc9tt24af5pw9x1bc",
   *                         quantity: "Infinity",
   *                         quantityUnit: "quantityUnit",
   *                         refills: 1
   *                     }]
   *             }]
   *     })
   */
  public create(
    request: AffinityApi.orders.CreateOrderBatchRequest,
    requestOptions?: BatchesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.CreateOrderBatchResponse> {
    return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
  }

  private async __create(
    request: AffinityApi.orders.CreateOrderBatchRequest,
    requestOptions?: BatchesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.CreateOrderBatchResponse>> {
    const {
      "Idempotency-Key": idempotencyKey,
      "Affinity-Actor-Id": affinityActorId,
      "Affinity-Actor-Type": affinityActorType,
      ..._body
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Actor-Id": affinityActorId,
        "Affinity-Actor-Type": affinityActorType,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        "v1/order-batches",
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.CreateOrderBatchResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 422:
          throw new AffinityApi.UnprocessableEntityError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 503:
          throw new AffinityApi.ServiceUnavailableError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/v1/order-batches",
    );
  }
}
