// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import {
  type NormalizedClientOptionsWithAuth,
  normalizeClientOptionsWithAuth,
} from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as AffinityApi from "../../../../../index.js";

export declare namespace AllergiesClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class AllergiesClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<AllergiesClient.Options>;

  constructor(options: AllergiesClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * Returns the patient's structured allergy entries and review status. A not_reviewed status is not a no-known-allergies assertion and blocks clinical review and signing.
   *
   * @param {AffinityApi.patients.GetAllergiesRequest} request
   * @param {AllergiesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.UnprocessableEntityError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.patients.allergies.get({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         patientId: "pat_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public get(
    request: AffinityApi.patients.GetAllergiesRequest,
    requestOptions?: AllergiesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.GetPatientAllergiesResponse> {
    return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
  }

  private async __get(
    request: AffinityApi.patients.GetAllergiesRequest,
    requestOptions?: AllergiesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.GetPatientAllergiesResponse>> {
    const {
      practiceId,
      patientId,
      "Affinity-Actor-Id": affinityActorId,
      "Affinity-Actor-Type": affinityActorType,
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Affinity-Actor-Id": affinityActorId,
        "Affinity-Actor-Type": affinityActorType,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/patients/${core.url.encodePathParam(patientId)}/allergies`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.GetPatientAllergiesResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 422:
          throw new AffinityApi.UnprocessableEntityError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/v1/practices/{practiceId}/patients/{patientId}/allergies",
    );
  }

  /**
   * Replaces the patient's structured allergy record. Sending no_known is the explicit no-known-allergies acknowledgement; recorded requires at least one entry. Idempotency-Key is required.
   *
   * @param {AffinityApi.patients.ReplacePatientAllergiesRequest} request
   * @param {AllergiesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.UnprocessableEntityError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.patients.allergies.replace({
   *         "Idempotency-Key": "Idempotency-Key",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         patientId: "pat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         allergies: [{
   *                 category: "drug",
   *                 reactions: [{
   *                         display: "display"
   *                     }],
   *                 source: "Doctor",
   *                 substance: "substance",
   *                 verificationStatus: "unconfirmed"
   *             }],
   *         reviewStatus: "not_reviewed"
   *     })
   */
  public replace(
    request: AffinityApi.patients.ReplacePatientAllergiesRequest,
    requestOptions?: AllergiesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ReplacePatientAllergiesResponse> {
    return core.HttpResponsePromise.fromPromise(this.__replace(request, requestOptions));
  }

  private async __replace(
    request: AffinityApi.patients.ReplacePatientAllergiesRequest,
    requestOptions?: AllergiesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ReplacePatientAllergiesResponse>> {
    const {
      practiceId,
      patientId,
      "Idempotency-Key": idempotencyKey,
      "Affinity-Actor-Id": affinityActorId,
      "Affinity-Actor-Type": affinityActorType,
      ..._body
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Actor-Id": affinityActorId,
        "Affinity-Actor-Type": affinityActorType,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/patients/${core.url.encodePathParam(patientId)}/allergies`,
      ),
      method: "PUT",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ReplacePatientAllergiesResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 422:
          throw new AffinityApi.UnprocessableEntityError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "PUT",
      "/v1/practices/{practiceId}/patients/{patientId}/allergies",
    );
  }
}
