// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import {
  type NormalizedClientOptionsWithAuth,
  normalizeClientOptionsWithAuth,
} from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as AffinityApi from "../../../../../index.js";

export declare namespace AddressesClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class AddressesClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<AddressesClient.Options>;

  constructor(options: AddressesClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * @param {AffinityApi.patients.ListAddressesRequest} request
   * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.patients.addresses.list({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         patientId: "pat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         startingAfter: "addr_01j2y8m6jcc9tt24af5pw9x1bc",
   *         endingBefore: "addr_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public list(
    request: AffinityApi.patients.ListAddressesRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ListPatientAddressesResponse> {
    return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
  }

  private async __list(
    request: AffinityApi.patients.ListAddressesRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ListPatientAddressesResponse>> {
    const {
      practiceId,
      patientId,
      status,
      startingAfter,
      endingBefore,
      limit,
      "Affinity-Actor-Id": affinityActorId,
      "Affinity-Actor-Type": affinityActorType,
    } = request;
    const _queryParams: Record<string, unknown> = {
      status: status !== undefined ? status : undefined,
      startingAfter,
      endingBefore,
      limit,
    };
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Affinity-Actor-Id": affinityActorId,
        "Affinity-Actor-Type": affinityActorType,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/patients/${core.url.encodePathParam(patientId)}/addresses`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ListPatientAddressesResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/v1/practices/{practiceId}/patients/{patientId}/addresses",
    );
  }

  /**
   * Returns the existing active address for a normalized duplicate. The first address becomes the default. API keys require Idempotency-Key.
   *
   * @param {AffinityApi.patients.CreatePatientAddressRequest} request
   * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.patients.addresses.create({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         patientId: "pat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         address: {
   *             city: "city",
   *             line1: "line1",
   *             postalCode: "postalCode",
   *             state: "state"
   *         }
   *     })
   */
  public create(
    request: AffinityApi.patients.CreatePatientAddressRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.CreatePatientAddressResponse> {
    return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
  }

  private async __create(
    request: AffinityApi.patients.CreatePatientAddressRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.CreatePatientAddressResponse>> {
    const {
      practiceId,
      patientId,
      "Idempotency-Key": idempotencyKey = globalThis.crypto?.randomUUID?.() ??
        (await import("node:crypto")).randomUUID() /* affinity-sdk-auto-key */,
      "Affinity-Actor-Id": affinityActorId,
      "Affinity-Actor-Type": affinityActorType,
      ..._body
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Actor-Id": affinityActorId,
        "Affinity-Actor-Type": affinityActorType,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/patients/${core.url.encodePathParam(patientId)}/addresses`,
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.CreatePatientAddressResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/v1/practices/{practiceId}/patients/{patientId}/addresses",
    );
  }

  /**
   * Preserves the address ID and history. Archiving the default selects the oldest remaining active address. Existing orders remain unchanged.
   *
   * @param {AffinityApi.patients.ArchiveAddressesRequest} request
   * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.patients.addresses.archive({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         patientId: "pat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         addressId: "addr_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public archive(
    request: AffinityApi.patients.ArchiveAddressesRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ArchivePatientAddressResponse> {
    return core.HttpResponsePromise.fromPromise(this.__archive(request, requestOptions));
  }

  private async __archive(
    request: AffinityApi.patients.ArchiveAddressesRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ArchivePatientAddressResponse>> {
    const {
      practiceId,
      patientId,
      addressId,
      "Idempotency-Key": idempotencyKey = globalThis.crypto?.randomUUID?.() ??
        (await import("node:crypto")).randomUUID() /* affinity-sdk-auto-key */,
      "Affinity-Actor-Id": affinityActorId,
      "Affinity-Actor-Type": affinityActorType,
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Actor-Id": affinityActorId,
        "Affinity-Actor-Type": affinityActorType,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/patients/${core.url.encodePathParam(patientId)}/addresses/${core.url.encodePathParam(addressId)}`,
      ),
      method: "DELETE",
      headers: _headers,
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ArchivePatientAddressResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "DELETE",
      "/v1/practices/{practiceId}/patients/{patientId}/addresses/{addressId}",
    );
  }

  /**
   * @param {AffinityApi.patients.UpdatePatientAddressRequest} request
   * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.patients.addresses.update({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         patientId: "pat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         addressId: "addr_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public update(
    request: AffinityApi.patients.UpdatePatientAddressRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.UpdatePatientAddressResponse> {
    return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
  }

  private async __update(
    request: AffinityApi.patients.UpdatePatientAddressRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.UpdatePatientAddressResponse>> {
    const {
      practiceId,
      patientId,
      addressId,
      "Idempotency-Key": idempotencyKey = globalThis.crypto?.randomUUID?.() ??
        (await import("node:crypto")).randomUUID() /* affinity-sdk-auto-key */,
      "Affinity-Actor-Id": affinityActorId,
      "Affinity-Actor-Type": affinityActorType,
      ..._body
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Actor-Id": affinityActorId,
        "Affinity-Actor-Type": affinityActorType,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/patients/${core.url.encodePathParam(patientId)}/addresses/${core.url.encodePathParam(addressId)}`,
      ),
      method: "PATCH",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.UpdatePatientAddressResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "PATCH",
      "/v1/practices/{practiceId}/patients/{patientId}/addresses/{addressId}",
    );
  }

  /**
   * Changes delivery selection for future drafts, without changing patient clinical location or existing signed orders.
   *
   * @param {AffinityApi.patients.SetDefaultAddressesRequest} request
   * @param {AddressesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.patients.addresses.setDefault({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         patientId: "pat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         addressId: "addr_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public setDefault(
    request: AffinityApi.patients.SetDefaultAddressesRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.SetDefaultPatientAddressResponse> {
    return core.HttpResponsePromise.fromPromise(this.__setDefault(request, requestOptions));
  }

  private async __setDefault(
    request: AffinityApi.patients.SetDefaultAddressesRequest,
    requestOptions?: AddressesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.SetDefaultPatientAddressResponse>> {
    const {
      practiceId,
      patientId,
      addressId,
      "Idempotency-Key": idempotencyKey = globalThis.crypto?.randomUUID?.() ??
        (await import("node:crypto")).randomUUID() /* affinity-sdk-auto-key */,
      "Affinity-Actor-Id": affinityActorId,
      "Affinity-Actor-Type": affinityActorType,
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Actor-Id": affinityActorId,
        "Affinity-Actor-Type": affinityActorType,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/patients/${core.url.encodePathParam(patientId)}/addresses/${core.url.encodePathParam(addressId)}/default`,
      ),
      method: "PUT",
      headers: _headers,
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.SetDefaultPatientAddressResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "PUT",
      "/v1/practices/{practiceId}/patients/{patientId}/addresses/{addressId}/default",
    );
  }
}
