// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
  type NormalizedClientOptionsWithAuth,
  normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as AffinityApi from "../../../../../../../index.js";

export declare namespace LicensesClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class LicensesClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<LicensesClient.Options>;

  constructor(options: LicensesClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * Requires team:write and an active accepted prescriber account connection in this practice. Adds a license. Expiration is optional, but must be in the future when supplied. An exact repeat returns the existing license; update an existing license with PATCH and its license ID. Licenses are shared across practices and Test/Live. Other licenses stay unchanged.
   *
   * @param {AffinityApi.team.prescribers.CreatePracticeTeamLicenseRequest} request
   * @param {LicensesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.team.prescribers.licenses.create({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         prescriberId: "prov_01j2y8m6jcc9tt24af5pw9x1bc",
   *         state: "state",
   *         licenseNumber: "licenseNumber"
   *     })
   */
  public create(
    request: AffinityApi.team.prescribers.CreatePracticeTeamLicenseRequest,
    requestOptions?: LicensesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.CreatePracticeTeamLicenseResponse> {
    return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
  }

  private async __create(
    request: AffinityApi.team.prescribers.CreatePracticeTeamLicenseRequest,
    requestOptions?: LicensesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.CreatePracticeTeamLicenseResponse>> {
    const {
      practiceId,
      prescriberId,
      "Idempotency-Key": idempotencyKey = globalThis.crypto?.randomUUID?.() ??
        (await import("node:crypto")).randomUUID() /* affinity-sdk-auto-key */,
      ..._body
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/team/prescribers/${core.url.encodePathParam(prescriberId)}/licenses`,
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.CreatePracticeTeamLicenseResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/v1/practices/{practiceId}/team/prescribers/{prescriberId}/licenses",
    );
  }

  /**
   * Requires team:write and an active accepted prescriber account connection in this practice. Correct the state or license number, or set or clear the optional expiresAt value. A supplied expiration must be in the future. Other licenses stay unchanged. Changes apply across practices and Test/Live.
   *
   * @param {AffinityApi.team.prescribers.UpdatePracticeTeamLicenseRequest} request
   * @param {LicensesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.team.prescribers.licenses.update({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         prescriberId: "prov_01j2y8m6jcc9tt24af5pw9x1bc",
   *         licenseId: "lic_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public update(
    request: AffinityApi.team.prescribers.UpdatePracticeTeamLicenseRequest,
    requestOptions?: LicensesClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.UpdatePracticeTeamLicenseResponse> {
    return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
  }

  private async __update(
    request: AffinityApi.team.prescribers.UpdatePracticeTeamLicenseRequest,
    requestOptions?: LicensesClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.UpdatePracticeTeamLicenseResponse>> {
    const {
      practiceId,
      prescriberId,
      licenseId,
      "Idempotency-Key": idempotencyKey = globalThis.crypto?.randomUUID?.() ??
        (await import("node:crypto")).randomUUID() /* affinity-sdk-auto-key */,
      ..._body
    } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/team/prescribers/${core.url.encodePathParam(prescriberId)}/licenses/${core.url.encodePathParam(licenseId)}`,
      ),
      method: "PATCH",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.UpdatePracticeTeamLicenseResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "PATCH",
      "/v1/practices/{practiceId}/team/prescribers/{prescriberId}/licenses/{licenseId}",
    );
  }
}
