// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import {
  type NormalizedClientOptionsWithAuth,
  normalizeClientOptionsWithAuth,
} from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as AffinityApi from "../../../../../index.js";

export declare namespace ShippingOptionsClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class ShippingOptionsClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<ShippingOptionsClient.Options>;

  constructor(options: ShippingOptionsClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * Returns an array of at most 50 reviewed shipping services eligible for a catalog item, destination, and API mode. destinationState must be a USPS state or territory code. Each option has one temperature; pharmacy catalog summaries list all supported temperatures.
   *
   * @param {AffinityApi.catalog.ListShippingOptionsRequest} request
   * @param {ShippingOptionsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.UnprocessableEntityError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.catalog.shippingOptions.list({
   *         catalogItemId: "cat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         destinationState: "destinationState"
   *     })
   */
  public list(
    request: AffinityApi.catalog.ListShippingOptionsRequest,
    requestOptions?: ShippingOptionsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ListShippingOptionsResponse> {
    return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
  }

  private async __list(
    request: AffinityApi.catalog.ListShippingOptionsRequest,
    requestOptions?: ShippingOptionsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ListShippingOptionsResponse>> {
    const { catalogItemId, destinationState, destinationType } = request;
    const _queryParams: Record<string, unknown> = {
      destinationState,
      destinationType: destinationType !== undefined ? destinationType : undefined,
    };
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/catalog/items/${core.url.encodePathParam(catalogItemId)}/shipping-options`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ListShippingOptionsResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 422:
          throw new AffinityApi.UnprocessableEntityError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/v1/catalog/items/{catalogItemId}/shipping-options",
    );
  }
}
