{
  "components": {
    "securitySchemes": {
      "affinityApiKey": {
        "description": "Server-side Affinity service key. Use this header when bearer authorization is unavailable.",
        "in": "header",
        "name": "x-affinity-api-key",
        "type": "apiKey"
      },
      "bearerAuth": {
        "description": "Server-side Affinity service key using the Bearer authentication scheme.",
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "Problem": {
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "additionalProperties": true,
            "type": "object"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "status": {
            "maximum": 599,
            "minimum": 400,
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          },
          "type": {
            "format": "uri",
            "type": "string"
          }
        },
        "required": ["type", "title", "status", "detail", "instance", "code", "requestId"],
        "type": "object"
      }
    }
  },
  "info": {
    "contact": {
      "email": "support@joinaffinityai.com",
      "name": "Affinity API Support"
    },
    "description": "Affinity API for software platforms connecting practices to the compounder network.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "Affinity API",
    "version": "2026-07-29"
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "affinityApiKey": []
    }
  ],
  "servers": [
    {
      "description": "Production",
      "url": "https://api.joinaffinityai.com"
    }
  ],
  "x-affinity-webhooks": {
    "apiVersion": "2026-07-29",
    "eventTypes": [
      "webhook_endpoint.test",
      "order.created",
      "order.updated",
      "order.submitted",
      "order.accepted",
      "order.processing",
      "order.shipped",
      "order.delivered",
      "order.blocked",
      "order.cancelled"
    ],
    "orderStatuses": [
      "accepted",
      "blocked",
      "cancelled",
      "delivered",
      "draft",
      "processing",
      "shipped",
      "submitted"
    ],
    "signatureHeader": "affinity-signature",
    "signatureScheme": "t=<unix-seconds>,v1=<hex-hmac-sha256>"
  },
  "openapi": "3.1.0",
  "paths": {
    "/v1/account": {
      "get": {
        "operationId": "getAccount",
        "description": "Returns the platform organization and the current role.",
        "summary": "Read account",
        "tags": ["Platforms"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetAccountResponse",
                  "type": "object",
                  "required": ["account", "membership", "operatingMode", "user"],
                  "properties": {
                    "account": {
                      "type": "object",
                      "required": [
                        "allowedOrigins",
                        "allowedReturnUrls",
                        "displayName",
                        "id",
                        "object",
                        "slug",
                        "status",
                        "supportEmail",
                        "websiteUrl"
                      ],
                      "properties": {
                        "allowedOrigins": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "allowedReturnUrls": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "object": {
                          "type": "string",
                          "enum": ["account"]
                        },
                        "slug": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["active", "pending", "suspended"]
                        },
                        "supportEmail": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "websiteUrl": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "additionalProperties": false
                    },
                    "membership": {
                      "type": "object",
                      "required": ["permissions", "role", "roleName", "status"],
                      "properties": {
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "manage_api",
                              "manage_orders",
                              "manage_organization",
                              "read_catalog",
                              "read_orders",
                              "review_orders"
                            ]
                          }
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "clinical_reviewer",
                            "developer",
                            "operations",
                            "owner",
                            "viewer"
                          ]
                        },
                        "roleName": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["active", "disabled", "invited"]
                        }
                      },
                      "additionalProperties": false
                    },
                    "operatingMode": {
                      "type": "string",
                      "enum": ["production", "production_pending", "sandbox", "suspended"]
                    },
                    "user": {
                      "type": "object",
                      "required": ["email", "image", "name", "userId"],
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "image": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "twoFactorEnabled": {
                          "type": "boolean"
                        },
                        "userId": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "description": "HTTP 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 429"
          }
        }
      }
    },
    "/v1/catalog/items": {
      "get": {
        "operationId": "listCatalogItems",
        "description": "Lists the catalog items that are eligible for the authenticated account and mode.",
        "summary": "List catalog items",
        "tags": ["Catalog"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "query",
            "name": "availability",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["all", "orderable", "unavailable"]
            }
          },
          {
            "in": "query",
            "name": "compounderIds",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "dosageForms",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "capsule",
                    "cream",
                    "gel",
                    "solution",
                    "spray",
                    "tablet",
                    "troche",
                    "unknown",
                    "vial"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "capsule",
                      "cream",
                      "gel",
                      "solution",
                      "spray",
                      "tablet",
                      "troche",
                      "unknown",
                      "vial"
                    ]
                  }
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "endingBefore",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string",
                  "description": "a string to be decoded into a number"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "a string that will be trimmed"
            }
          },
          {
            "in": "query",
            "name": "requirement",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["all", "office_use", "patient_specific"]
            }
          },
          {
            "in": "query",
            "name": "route",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["all", "injectable", "nasal", "oral", "sublingual", "topical", "unknown"]
            }
          },
          {
            "in": "query",
            "name": "startingAfter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListCatalogItemsResponse",
                  "type": "object",
                  "required": ["data", "hasMore", "object", "url"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "allowedStates",
                          "catalogKind",
                          "coldShip",
                          "compounderId",
                          "compounderName",
                          "description",
                          "dosageForm",
                          "facilityType",
                          "id",
                          "isOrderable",
                          "livemode",
                          "name",
                          "object",
                          "patientSpecificRequired",
                          "pricing",
                          "restrictedStates",
                          "route",
                          "strength"
                        ],
                        "properties": {
                          "allowedStates": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "catalogKind": {
                            "type": "string"
                          },
                          "coldShip": {
                            "type": "boolean"
                          },
                          "compounderId": {
                            "type": "string"
                          },
                          "compounderName": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dosageForm": {
                            "type": "string"
                          },
                          "facilityType": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isOrderable": {
                            "type": "boolean"
                          },
                          "livemode": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string",
                            "enum": ["catalog_item"]
                          },
                          "patientSpecificRequired": {
                            "type": "boolean"
                          },
                          "pricing": {
                            "anyOf": [
                              {
                                "type": "object",
                                "required": [
                                  "currency",
                                  "medicationSubtotalCents",
                                  "orderTotalCents",
                                  "serviceFeeCents",
                                  "serviceFeePercent"
                                ],
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "enum": ["USD"]
                                  },
                                  "medicationSubtotalCents": {
                                    "type": "number"
                                  },
                                  "orderTotalCents": {
                                    "type": "number"
                                  },
                                  "serviceFeeCents": {
                                    "type": "number"
                                  },
                                  "serviceFeePercent": {
                                    "type": "number",
                                    "enum": [15]
                                  }
                                },
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "restrictedStates": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "route": {
                            "type": "string"
                          },
                          "strength": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "object": {
                      "type": "string",
                      "enum": ["list"]
                    },
                    "url": {
                      "type": "string",
                      "enum": ["/v1/catalog/items"]
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "description": "HTTP 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 429"
          }
        }
      }
    },
    "/v1/compounders": {
      "get": {
        "operationId": "listCompounders",
        "description": "Lists compounders available to the authenticated account, including approved invite-only relationships.",
        "summary": "List available compounders",
        "tags": ["Catalog"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "a string that will be trimmed"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListCompoundersResponse",
                  "type": "object",
                  "required": ["data", "hasMore", "object", "url"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "access",
                          "catalogItemCount",
                          "facilityType",
                          "id",
                          "livemode",
                          "name",
                          "object",
                          "restrictedStates",
                          "supportedStates"
                        ],
                        "properties": {
                          "access": {
                            "type": "string",
                            "enum": ["invited", "network"]
                          },
                          "catalogItemCount": {
                            "type": "number"
                          },
                          "facilityType": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "livemode": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string",
                            "enum": ["compounder"]
                          },
                          "restrictedStates": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "supportedStates": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "object": {
                      "type": "string",
                      "enum": ["list"]
                    },
                    "url": {
                      "type": "string",
                      "enum": ["/v1/compounders"]
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "description": "HTTP 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 429"
          }
        }
      }
    },
    "/v1/catalog/items/{catalogItemId}/shipping-options": {
      "get": {
        "operationId": "listShippingOptions",
        "description": "Lists reviewed shipping services eligible for a catalog item, destination, and API mode.",
        "summary": "List shipping options",
        "tags": ["Catalog"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "path",
            "name": "catalogItemId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "destinationState",
            "required": true,
            "schema": {
              "type": "string",
              "description": "a string that will be trimmed"
            }
          },
          {
            "in": "query",
            "name": "destinationType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["patient", "practice"]
            }
          },
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListShippingOptionsResponse",
                  "type": "object",
                  "required": ["data", "hasMore", "object", "url"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "amountCents",
                          "carrier",
                          "currency",
                          "estimatedDaysMax",
                          "estimatedDaysMin",
                          "id",
                          "label",
                          "markupCents",
                          "serviceLevel",
                          "temperature",
                          "totalCents"
                        ],
                        "properties": {
                          "amountCents": {
                            "type": "number"
                          },
                          "carrier": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "currency": {
                            "type": "string",
                            "enum": ["USD"]
                          },
                          "estimatedDaysMax": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "estimatedDaysMin": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "markupCents": {
                            "type": "number"
                          },
                          "serviceLevel": {
                            "type": "string"
                          },
                          "temperature": {
                            "type": "string",
                            "enum": ["ambient", "refrigerated"]
                          },
                          "totalCents": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "object": {
                      "type": "string",
                      "enum": ["list"]
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "description": "HTTP 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 429"
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List platform orders",
        "tags": ["Platform Orders"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "query",
            "name": "endingBefore",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string",
                  "description": "a string to be decoded into a number"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "patientExternalId",
            "required": false,
            "schema": {
              "type": "string",
              "description": "a string that will be trimmed"
            }
          },
          {
            "in": "query",
            "name": "practiceId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startingAfter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "blocked",
                "cancelled",
                "delivered",
                "draft",
                "partially_submitted",
                "processing",
                "ready",
                "requires_provider_signature",
                "shipped",
                "submitted"
              ]
            }
          },
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListOrdersResponse",
                  "type": "object",
                  "required": ["data", "hasMore", "object", "url"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "fulfillments",
                          "id",
                          "livemode",
                          "object",
                          "patientExternalId",
                          "patientId",
                          "patientName",
                          "patientState",
                          "practiceId",
                          "prescriberName",
                          "prescriberNpi",
                          "prescriptions",
                          "status",
                          "updatedAt"
                        ],
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "fulfillments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "carrier",
                                "compounderId",
                                "createdAt",
                                "id",
                                "prescriptionId",
                                "status",
                                "trackingNumber",
                                "shippedAt",
                                "deliveredAt",
                                "estimatedDeliveryAt",
                                "shipping",
                                "trackingUrl",
                                "updatedAt"
                              ],
                              "properties": {
                                "carrier": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "compounderId": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "prescriptionId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "trackingNumber": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "shippedAt": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "deliveredAt": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "estimatedDeliveryAt": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "shipping": {
                                  "type": "object",
                                  "required": ["destinationType", "method", "option"],
                                  "properties": {
                                    "destinationType": {
                                      "type": "string",
                                      "enum": ["patient", "practice"]
                                    },
                                    "method": {
                                      "type": "string",
                                      "enum": [
                                        "standard",
                                        "expedited",
                                        "overnight",
                                        "pickup",
                                        "local_delivery"
                                      ]
                                    },
                                    "option": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "amountCents",
                                            "currency",
                                            "label",
                                            "markupCents",
                                            "serviceLevel",
                                            "temperature",
                                            "totalCents"
                                          ],
                                          "properties": {
                                            "amountCents": {
                                              "type": "number"
                                            },
                                            "currency": {
                                              "type": "string",
                                              "enum": ["USD"]
                                            },
                                            "label": {
                                              "type": "string"
                                            },
                                            "markupCents": {
                                              "type": "number"
                                            },
                                            "serviceLevel": {
                                              "type": "string"
                                            },
                                            "temperature": {
                                              "type": "string",
                                              "enum": ["ambient", "refrigerated"]
                                            },
                                            "totalCents": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "trackingUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "updatedAt": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "livemode": {
                            "type": "boolean"
                          },
                          "object": {
                            "type": "string",
                            "enum": ["order"]
                          },
                          "patientExternalId": {
                            "type": "string"
                          },
                          "patientId": {
                            "type": "string"
                          },
                          "patientName": {
                            "type": "string"
                          },
                          "patientState": {
                            "type": "string"
                          },
                          "practiceId": {
                            "type": "string"
                          },
                          "prescriberName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "prescriberNpi": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "prescriptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "catalogItemId",
                                "compounderId",
                                "directions",
                                "dosageForm",
                                "id",
                                "medicationName",
                                "quantity",
                                "quantityUnit",
                                "refills",
                                "status",
                                "strength"
                              ],
                              "properties": {
                                "catalogItemId": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "compounderId": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "directions": {
                                  "type": "string"
                                },
                                "dosageForm": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "id": {
                                  "type": "string"
                                },
                                "medicationName": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "quantityUnit": {
                                  "type": "string"
                                },
                                "refills": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "strength": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "blocked",
                              "cancelled",
                              "delivered",
                              "draft",
                              "partially_submitted",
                              "processing",
                              "ready",
                              "requires_provider_signature",
                              "shipped",
                              "submitted"
                            ]
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "object": {
                      "type": "string",
                      "enum": ["list"]
                    },
                    "url": {
                      "type": "string",
                      "enum": ["/v1/orders"]
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "description": "HTTP 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 429"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "description": "Creates one patient order containing one or more unsigned prescription drafts. A platform API key cannot sign them; create a provider-bound order signing session next. Idempotency-Key and actor context are required.",
        "summary": "Create patient order",
        "tags": ["Platform Orders"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["patientId", "practiceId", "prescriptions", "providerMappingId"],
                "properties": {
                  "patientId": {
                    "type": "string"
                  },
                  "practiceId": {
                    "type": "string"
                  },
                  "prescriptions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "daysSupply",
                        "dispensing",
                        "directions",
                        "medicationId",
                        "quantity",
                        "quantityUnit",
                        "refills",
                        "structuredSig"
                      ],
                      "properties": {
                        "clinical": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "compoundingReason": {
                              "type": "object",
                              "required": ["category", "context"],
                              "properties": {
                                "category": {
                                  "type": "string",
                                  "enum": [
                                    "drug_shortage",
                                    "commercial_product_discontinued",
                                    "modified_release",
                                    "inactive_ingredient_sensitivity",
                                    "concentration_adjustment",
                                    "alternate_route",
                                    "dosage_form_unavailable",
                                    "patient_cannot_use_commercial_product",
                                    "no_approved_product_available",
                                    "other_patient_specific_need"
                                  ]
                                },
                                "context": {
                                  "type": "string",
                                  "description": "a string that will be trimmed"
                                }
                              },
                              "additionalProperties": false
                            },
                            "currentMedications": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "description": "a string that will be trimmed"
                              }
                            },
                            "diagnoses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": ["code", "display"],
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "display": {
                                    "type": "string",
                                    "description": "a string that will be trimmed"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "observations": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": ["display", "unit", "value"],
                                "properties": {
                                  "display": {
                                    "type": "string",
                                    "description": "a string that will be trimmed"
                                  },
                                  "unit": {
                                    "type": "string",
                                    "description": "a string that will be trimmed"
                                  },
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            }
                          },
                          "additionalProperties": false
                        },
                        "compounderId": {
                          "type": "string",
                          "description": "a string that will be trimmed"
                        },
                        "daysSupply": {
                          "type": "number"
                        },
                        "dispensing": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "dispenseUponAcceptance": {
                              "type": "boolean"
                            },
                            "pharmacyNotes": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            },
                            "requestedFillDate": {
                              "type": "string"
                            },
                            "substitutionPermitted": {
                              "type": "boolean"
                            }
                          },
                          "additionalProperties": false
                        },
                        "directions": {
                          "type": "string",
                          "description": "a string that will be trimmed"
                        },
                        "medicationId": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "quantityUnit": {
                          "type": "string",
                          "description": "a string that will be trimmed"
                        },
                        "refills": {
                          "type": "number"
                        },
                        "structuredSig": {
                          "type": "object",
                          "required": ["dose", "doseUnit", "frequency", "route"],
                          "properties": {
                            "dose": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            },
                            "doseUnit": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            },
                            "duration": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            },
                            "frequency": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            },
                            "indication": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            },
                            "maxDailyUse": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            },
                            "prn": {
                              "type": "boolean"
                            },
                            "route": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            },
                            "titrationSchedule": {
                              "type": "string",
                              "description": "a string that will be trimmed"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "providerMappingId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateOrderResponse",
                  "type": "object",
                  "required": [
                    "createdAt",
                    "id",
                    "livemode",
                    "object",
                    "patientId",
                    "practiceId",
                    "prescriptions",
                    "providerMappingId",
                    "status"
                  ],
                  "properties": {
                    "createdAt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "object": {
                      "type": "string",
                      "enum": ["order"]
                    },
                    "patientId": {
                      "type": "string"
                    },
                    "practiceId": {
                      "type": "string"
                    },
                    "prescriptions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "directions",
                          "id",
                          "medicationId",
                          "medicationName",
                          "object",
                          "quantity",
                          "quantityUnit",
                          "refills",
                          "status"
                        ],
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "directions": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "medicationId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "medicationName": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string",
                            "enum": ["prescription"]
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "quantityUnit": {
                            "type": "string"
                          },
                          "refills": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["requires_provider_signature"]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "providerMappingId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["requires_provider_signature"]
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "description": "HTTP 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 429"
          }
        }
      }
    },
    "/v1/orders/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Read order",
        "tags": ["Platform Orders"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetOrderResponse",
                  "type": "object",
                  "required": [
                    "createdAt",
                    "fulfillments",
                    "id",
                    "livemode",
                    "object",
                    "patientExternalId",
                    "patientId",
                    "patientName",
                    "patientState",
                    "practiceId",
                    "prescriberName",
                    "prescriberNpi",
                    "prescriptions",
                    "status",
                    "updatedAt"
                  ],
                  "properties": {
                    "createdAt": {
                      "type": "string"
                    },
                    "fulfillments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "carrier",
                          "compounderId",
                          "createdAt",
                          "id",
                          "prescriptionId",
                          "status",
                          "trackingNumber",
                          "shippedAt",
                          "deliveredAt",
                          "estimatedDeliveryAt",
                          "shipping",
                          "trackingUrl",
                          "updatedAt"
                        ],
                        "properties": {
                          "carrier": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "compounderId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "prescriptionId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "trackingNumber": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "shippedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "deliveredAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "estimatedDeliveryAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "shipping": {
                            "type": "object",
                            "required": ["destinationType", "method", "option"],
                            "properties": {
                              "destinationType": {
                                "type": "string",
                                "enum": ["patient", "practice"]
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "standard",
                                  "expedited",
                                  "overnight",
                                  "pickup",
                                  "local_delivery"
                                ]
                              },
                              "option": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "amountCents",
                                      "currency",
                                      "label",
                                      "markupCents",
                                      "serviceLevel",
                                      "temperature",
                                      "totalCents"
                                    ],
                                    "properties": {
                                      "amountCents": {
                                        "type": "number"
                                      },
                                      "currency": {
                                        "type": "string",
                                        "enum": ["USD"]
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "markupCents": {
                                        "type": "number"
                                      },
                                      "serviceLevel": {
                                        "type": "string"
                                      },
                                      "temperature": {
                                        "type": "string",
                                        "enum": ["ambient", "refrigerated"]
                                      },
                                      "totalCents": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "additionalProperties": false
                          },
                          "trackingUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "object": {
                      "type": "string",
                      "enum": ["order"]
                    },
                    "patientExternalId": {
                      "type": "string"
                    },
                    "patientId": {
                      "type": "string"
                    },
                    "patientName": {
                      "type": "string"
                    },
                    "patientState": {
                      "type": "string"
                    },
                    "practiceId": {
                      "type": "string"
                    },
                    "prescriberName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "prescriberNpi": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "prescriptions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "catalogItemId",
                          "compounderId",
                          "directions",
                          "dosageForm",
                          "id",
                          "medicationName",
                          "quantity",
                          "quantityUnit",
                          "refills",
                          "status",
                          "strength"
                        ],
                        "properties": {
                          "catalogItemId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "compounderId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "directions": {
                            "type": "string"
                          },
                          "dosageForm": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "medicationName": {
                            "type": "string"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "quantityUnit": {
                            "type": "string"
                          },
                          "refills": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "strength": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "blocked",
                        "cancelled",
                        "delivered",
                        "draft",
                        "partially_submitted",
                        "processing",
                        "ready",
                        "requires_provider_signature",
                        "shipped",
                        "submitted"
                      ]
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "description": "HTTP 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 429"
          }
        }
      }
    },
    "/v1/orders/{orderId}/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "description": "Cancels an order before shipment. To correct an order, cancel it and create a replacement.",
        "summary": "Cancel order",
        "tags": ["Platform Orders"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reason"],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "a string that will be trimmed"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "CancelOrderResponse",
                  "type": "object",
                  "required": [
                    "createdAt",
                    "fulfillments",
                    "id",
                    "livemode",
                    "object",
                    "patientExternalId",
                    "patientId",
                    "patientName",
                    "patientState",
                    "practiceId",
                    "prescriberName",
                    "prescriberNpi",
                    "prescriptions",
                    "status",
                    "updatedAt"
                  ],
                  "properties": {
                    "createdAt": {
                      "type": "string"
                    },
                    "fulfillments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "carrier",
                          "compounderId",
                          "createdAt",
                          "id",
                          "prescriptionId",
                          "status",
                          "trackingNumber",
                          "shippedAt",
                          "deliveredAt",
                          "estimatedDeliveryAt",
                          "shipping",
                          "trackingUrl",
                          "updatedAt"
                        ],
                        "properties": {
                          "carrier": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "compounderId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "prescriptionId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "trackingNumber": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "shippedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "deliveredAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "estimatedDeliveryAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "shipping": {
                            "type": "object",
                            "required": ["destinationType", "method", "option"],
                            "properties": {
                              "destinationType": {
                                "type": "string",
                                "enum": ["patient", "practice"]
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "standard",
                                  "expedited",
                                  "overnight",
                                  "pickup",
                                  "local_delivery"
                                ]
                              },
                              "option": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "amountCents",
                                      "currency",
                                      "label",
                                      "markupCents",
                                      "serviceLevel",
                                      "temperature",
                                      "totalCents"
                                    ],
                                    "properties": {
                                      "amountCents": {
                                        "type": "number"
                                      },
                                      "currency": {
                                        "type": "string",
                                        "enum": ["USD"]
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "markupCents": {
                                        "type": "number"
                                      },
                                      "serviceLevel": {
                                        "type": "string"
                                      },
                                      "temperature": {
                                        "type": "string",
                                        "enum": ["ambient", "refrigerated"]
                                      },
                                      "totalCents": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "additionalProperties": false
                          },
                          "trackingUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "object": {
                      "type": "string",
                      "enum": ["order"]
                    },
                    "patientExternalId": {
                      "type": "string"
                    },
                    "patientId": {
                      "type": "string"
                    },
                    "patientName": {
                      "type": "string"
                    },
                    "patientState": {
                      "type": "string"
                    },
                    "practiceId": {
                      "type": "string"
                    },
                    "prescriberName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "prescriberNpi": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "prescriptions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "catalogItemId",
                          "compounderId",
                          "directions",
                          "dosageForm",
                          "id",
                          "medicationName",
                          "quantity",
                          "quantityUnit",
                          "refills",
                          "status",
                          "strength"
                        ],
                        "properties": {
                          "catalogItemId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "compounderId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "directions": {
                            "type": "string"
                          },
                          "dosageForm": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "medicationName": {
                            "type": "string"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "quantityUnit": {
                            "type": "string"
                          },
                          "refills": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "strength": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "blocked",
                        "cancelled",
                        "delivered",
                        "draft",
                        "partially_submitted",
                        "processing",
                        "ready",
                        "requires_provider_signature",
                        "shipped",
                        "submitted"
                      ]
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "description": "HTTP 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "HTTP 429"
          }
        }
      }
    },
    "/v1/orders/{orderId}/events": {
      "get": {
        "operationId": "listOrderEvents",
        "summary": "List order events",
        "tags": ["Platform Orders"],
        "x-visibility": "public",
        "parameters": [
          {
            "in": "query",
            "name": "endingBefore",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string",
                  "description": "a string to be decoded into a number"
                }
              ]
            }
          },
          {
            "in": "path",
            "name": "orderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startingAfter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Affinity-Actor-Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListOrderEventsResponse",
                  "type": "object",
                  "required": ["data", "hasMore", "object", "url"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "eventType",
[...]
