// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import {
  type NormalizedClientOptionsWithAuth,
  normalizeClientOptionsWithAuth,
} from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as AffinityApi from "../../../../../index.js";

export declare namespace InvitationsClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class InvitationsClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<InvitationsClient.Options>;

  constructor(options: InvitationsClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * Requires team:read. Lists practice invitations, including invitations sent in Clinic. Filter by pending, expired, accepted, declined, or revoked status, exact email, or your integration externalId. Only your integration and API key mode can see its external identity and onboarding state. Follow person.nextActions after invitation acceptance.
   *
   * @param {AffinityApi.team.ListInvitationsRequest} request
   * @param {InvitationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.team.invitations.list({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         startingAfter: "invite_01j2y8m6jcc9tt24af5pw9x1bc",
   *         endingBefore: "invite_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public list(
    request: AffinityApi.team.ListInvitationsRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ListPracticeTeamInvitationsResponse> {
    return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
  }

  private async __list(
    request: AffinityApi.team.ListInvitationsRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ListPracticeTeamInvitationsResponse>> {
    const { practiceId, limit, startingAfter, endingBefore, status, email, externalId } = request;
    const _queryParams: Record<string, unknown> = {
      limit,
      startingAfter,
      endingBefore,
      status: status !== undefined ? status : undefined,
      email,
      externalId,
    };
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/team/invitations`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ListPracticeTeamInvitationsResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/v1/practices/{practiceId}/team/invitations",
    );
  }

  /**
   * Requires team:write on the practice key or its platform key. Use roles to combine administrator, prescriber, clinical_staff, billing, or developer presets. Ownership uses the protected owner designation. The singular role field remains available for single-role assignments. Creates a real organization invitation and optional prescriber setup. The recipient must accept with their Affinity account. Repeating the same external identity retries pending invitation delivery. Accepted invitations do not change existing access. Team membership is shared between Test and Live; the external identity is mode-scoped. Keys cannot accept invitations. Headless registration and signing use separate endpoints.
   *
   * @param {AffinityApi.team.InvitePracticeTeamPersonRequest} request
   * @param {InvitationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   * @throws {@link AffinityApi.BadGatewayError}
   *
   * @example
   *     await client.team.invitations.create({
   *         "Idempotency-Key": "Idempotency-Key",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         externalId: "externalId",
   *         email: "email",
   *         name: "name"
   *     })
   */
  public create(
    request: AffinityApi.team.InvitePracticeTeamPersonRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.InvitePracticeTeamPersonResponse> {
    return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
  }

  private async __create(
    request: AffinityApi.team.InvitePracticeTeamPersonRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.InvitePracticeTeamPersonResponse>> {
    const { practiceId, "Idempotency-Key": idempotencyKey, ..._body } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/team/invitations`,
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      requestType: "json",
      body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.InvitePracticeTeamPersonResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 502:
          throw new AffinityApi.BadGatewayError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/v1/practices/{practiceId}/team/invitations",
    );
  }

  /**
   * Requires team:read. Returns invitation status and current onboarding state for your integration. An accepted invitation can still have disabled membership or pending clinical review. Invitation tokens are never returned.
   *
   * @param {AffinityApi.team.GetInvitationsRequest} request
   * @param {InvitationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.team.invitations.get({
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         invitationId: "invite_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public get(
    request: AffinityApi.team.GetInvitationsRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.GetPracticeTeamInvitationResponse> {
    return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
  }

  private async __get(
    request: AffinityApi.team.GetInvitationsRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.GetPracticeTeamInvitationResponse>> {
    const { practiceId, invitationId } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/team/invitations/${core.url.encodePathParam(invitationId)}`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.GetPracticeTeamInvitationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/v1/practices/{practiceId}/team/invitations/{invitationId}",
    );
  }

  /**
   * Requires team:write. Revokes a pending or expired invitation and its pending prescriber account connection. Repeating the revoke returns the revoked invitation. Accepted invitations return 409; disable the member instead. Retains invitation history.
   *
   * @param {AffinityApi.team.RevokeInvitationsRequest} request
   * @param {InvitationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.team.invitations.revoke({
   *         "Idempotency-Key": "Idempotency-Key",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         invitationId: "invite_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public revoke(
    request: AffinityApi.team.RevokeInvitationsRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.RevokePracticeTeamInvitationResponse> {
    return core.HttpResponsePromise.fromPromise(this.__revoke(request, requestOptions));
  }

  private async __revoke(
    request: AffinityApi.team.RevokeInvitationsRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.RevokePracticeTeamInvitationResponse>> {
    const { practiceId, invitationId, "Idempotency-Key": idempotencyKey } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/team/invitations/${core.url.encodePathParam(invitationId)}`,
      ),
      method: "DELETE",
      headers: _headers,
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.RevokePracticeTeamInvitationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "DELETE",
      "/v1/practices/{practiceId}/team/invitations/{invitationId}",
    );
  }

  /**
   * Requires team:write. Resends a pending or expired invitation with the same ID, recipient, roles, and locations. The previous link stops working and the new link expires in seven days. Accepted and revoked invitations return 409. A 502 means the invitation was saved but email delivery could not be confirmed; retry this operation.
   *
   * @param {AffinityApi.team.ResendInvitationsRequest} request
   * @param {InvitationsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   * @throws {@link AffinityApi.BadGatewayError}
   *
   * @example
   *     await client.team.invitations.resend({
   *         "Idempotency-Key": "Idempotency-Key",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         invitationId: "invite_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public resend(
    request: AffinityApi.team.ResendInvitationsRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ResendPracticeTeamInvitationResponse> {
    return core.HttpResponsePromise.fromPromise(this.__resend(request, requestOptions));
  }

  private async __resend(
    request: AffinityApi.team.ResendInvitationsRequest,
    requestOptions?: InvitationsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ResendPracticeTeamInvitationResponse>> {
    const { practiceId, invitationId, "Idempotency-Key": idempotencyKey } = request;
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Idempotency-Key": idempotencyKey,
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        `v1/practices/${core.url.encodePathParam(practiceId)}/team/invitations/${core.url.encodePathParam(invitationId)}/resend`,
      ),
      method: "POST",
      headers: _headers,
      queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ResendPracticeTeamInvitationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 502:
          throw new AffinityApi.BadGatewayError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/v1/practices/{practiceId}/team/invitations/{invitationId}/resend",
    );
  }
}
