// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import {
  type NormalizedClientOptionsWithAuth,
  normalizeClientOptionsWithAuth,
} from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as AffinityApi from "../../../../../index.js";

export declare namespace ItemsClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class ItemsClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<ItemsClient.Options>;

  constructor(options: ItemsClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * Lists catalog items for the authenticated account and mode. Use view=medications for priced prescription groups with offer counts, pharmacy counts, and strengths; the default view=offers returns individual offers. Use relatedToCatalogItemId to find offers for the same medication and route. When practiceId is supplied, a practice price overrides the platform price and missing overrides inherit the platform price.
   *
   * @param {AffinityApi.catalog.ListItemsRequest} request
   * @param {ItemsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AffinityApi.BadRequestError}
   * @throws {@link AffinityApi.UnauthorizedError}
   * @throws {@link AffinityApi.ForbiddenError}
   * @throws {@link AffinityApi.NotFoundError}
   * @throws {@link AffinityApi.ConflictError}
   * @throws {@link AffinityApi.UnprocessableEntityError}
   * @throws {@link AffinityApi.TooManyRequestsError}
   *
   * @example
   *     await client.catalog.items.list({
   *         relatedToCatalogItemId: "cat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         catalogItemId: "cat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         pharmacyIds: "pharm_01j2y8m6jcc9tt24af5pw9x1bc",
   *         endingBefore: "cat_01j2y8m6jcc9tt24af5pw9x1bc",
   *         orgId: "acct_01j2y8m6jcc9tt24af5pw9x1bc",
   *         practiceId: "prac_01j2y8m6jcc9tt24af5pw9x1bc",
   *         startingAfter: "cat_01j2y8m6jcc9tt24af5pw9x1bc"
   *     })
   */
  public list(
    request: AffinityApi.catalog.ListItemsRequest = {},
    requestOptions?: ItemsClient.RequestOptions,
  ): core.HttpResponsePromise<AffinityApi.ListCatalogItemsResponse> {
    return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
  }

  private async __list(
    request: AffinityApi.catalog.ListItemsRequest = {},
    requestOptions?: ItemsClient.RequestOptions,
  ): Promise<core.WithRawResponse<AffinityApi.ListCatalogItemsResponse>> {
    const {
      view,
      relatedToCatalogItemId,
      catalogKind,
      sort,
      catalogItemId,
      availability,
      pharmacyIds,
      dosageForms,
      endingBefore,
      hideControlledSubstances,
      hideUnpriced,
      limit,
      orgId,
      practiceId,
      query,
      requirement,
      routes,
      startingAfter,
    } = request;
    const _queryParams: Record<string, unknown> = {
      view: view !== undefined ? view : undefined,
      relatedToCatalogItemId,
      catalogKind: catalogKind !== undefined ? catalogKind : undefined,
      sort: sort !== undefined ? sort : undefined,
      catalogItemId,
      availability: availability !== undefined ? availability : undefined,
      pharmacyIds: Array.isArray(pharmacyIds)
        ? pharmacyIds.map((item) => (typeof item === "string" ? item : toJson(item)))
        : pharmacyIds !== undefined
          ? typeof pharmacyIds === "string"
            ? pharmacyIds
            : toJson(pharmacyIds)
          : undefined,
      dosageForms: Array.isArray(dosageForms)
        ? dosageForms.map((item) => (typeof item === "string" ? item : toJson(item)))
        : dosageForms !== undefined
          ? typeof dosageForms === "string"
            ? dosageForms
            : toJson(dosageForms)
          : undefined,
      endingBefore,
      hideControlledSubstances,
      hideUnpriced,
      limit,
      orgId,
      practiceId,
      query,
      requirement: requirement !== undefined ? requirement : undefined,
      routes: Array.isArray(routes)
        ? routes.map((item) => (typeof item === "string" ? item : toJson(item)))
        : routes !== undefined
          ? typeof routes === "string"
            ? routes
            : toJson(routes)
          : undefined,
      startingAfter,
    };
    const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "Affinity-Version": requestOptions?.affinityVersion ?? this._options?.affinityVersion,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.AffinityApiEnvironment.Production,
        "v1/catalog/items",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as AffinityApi.ListCatalogItemsResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AffinityApi.BadRequestError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 401:
          throw new AffinityApi.UnauthorizedError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 403:
          throw new AffinityApi.ForbiddenError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 404:
          throw new AffinityApi.NotFoundError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 409:
          throw new AffinityApi.ConflictError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 422:
          throw new AffinityApi.UnprocessableEntityError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        case 429:
          throw new AffinityApi.TooManyRequestsError(
            _response.error.body as AffinityApi.Problem,
            _response.rawResponse,
          );
        default:
          throw new errors.AffinityApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/v1/catalog/items",
    );
  }
}
